
@{
    ViewData["Title"] = "Index";
}

@model BusinessObjectLayer.Models.User

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>Emloyee Login</h2>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            @*<h4>@Model.Id</h4>*@
            @Html.DisplayFor(m => m.Id, new { @class = "text-bold" })
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            @*<h5>@Model.Name</h5>*@
            @Html.DisplayFor(m => m.Name, new { @class = "text-bold" })
        </div>
    </div>
</div>






