
<div class="container py-3">
  <h2 style="text-align: center;" > Add Ratings </h2>
   <div class="card" style="text-align: center;" >
    <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0"> Technical/Job Related </h3>
        </div>
        <div class="card-body">
          <div class="row mt-4">
           <div class="col-sm-5 pb-2" style="margin-left: 80px;">
            <label> Concept </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 20px;">
            <label> Technical </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 80px;">
            <label> Domain </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 20px;">
            <label> Skill Set </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 80px;">
            <label> Analytical Skills </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 20px;">
            <label> Problem solving </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 80px;">
            <label> Focused & alert </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

           <div class="col-sm-5 pb-2" style="margin-left: 20px;margin-bottom: 20px;">
            <label> Others </label>
            <input class="form-control" type="text" placeholder="Rate out of 10">
           </div>

          </div>
        </div>
       
      </div>
    </div>

    <div class="card" style="text-align: center; margin-top: 50px;" >
        <div class="card card-outline-secondary">
            <div class="card-header">
              <h3 class="mb-0"> Soft Skills </h3>
            </div>
            <div class="card-body">
              <div class="row mt-4">

                <div class="col-sm-5 pb-2" style="margin-left: 80px;">
                    <label> Communication </label>
                    <input class="form-control" type="text" placeholder="Rate out of 10">
                </div>

               <div class="col-sm-5 pb-2" style="margin-left: 20px;">
                <label> Aptitude </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 80px;">
                <label> Leadership </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 20px;">
                <label> Initiative </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 80px;">
                <label> Willingness to learn </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 20px;">
                <label> Attitude </label>
                <input class="form-control" type="text " placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 80px;">
                <label> Listening Skills </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
    
               <div class="col-sm-5 pb-2" style="margin-left: 20px;">
                <label> Others </label>
                <input class="form-control" type="text" placeholder="Rate out of 10">
               </div>
   
               <label style="margin-left: 80px;padding-top: 10px;"> Overall Rating : </label>
               <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div> 

             

              </div>
            </div>

            <div class="card-footer">
                <div class="float-right" style="margin: 15px;">
                  <input class="btn btn-secondary" type="reset" value="Cancel"> 
				  <input style="margin-left: 5px;" class="btn btn-primary" type="button" value="Send">
                </div>
            </div>
           
          </div>
        </div>
</div>
