
<div class="container">
    <div class="card" style="margin-top: 50px; padding: 30px;">
    <form>
      <h2> Schedule Interview </h2>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="first">Candidate Name</label>
            <select name="country" id="" class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
          </div>
        </div>
        <!--  col-md-6   -->
  
        <div class="col-md-6">
          <div class="form-group">
            <label for="last">Interviewer Name</label>
            <select name="country" id="" class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
          </div>
        </div>
        <!--  col-md-6   -->
      </div>
  
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="company">Round Name</label>
            <select name="country" id="" class="form-control">
                <option value="">  Round 1</option>
                <option value="">Round 2</option>
                <option value="">Round 3</option>
                <option> Round 4</option>
                <option> Round 5</option>
                <option> Round 6</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Date</label>
            <input name="country" id="" class="form-control" type="date">               
          </div>
        </div>
      </div>
      <a routerLink="/hrdashboard" routerLinkActive="active" class="btn btn-primary"> Schedule </a>
    </form>
    </div>
  </div>
